@page "/forgot-password/{value?}"
@model SLK.XClinic.WebHost.Pages.ForgotPassword
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="vi">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>iLeader iLeaderDrive [v@(SLK.XClinic.WebHost.AutoClass.FullVersion) @SLK.XClinic.WebHost.AutoClass.BuildName] - Quản lý lái xe</title>
    <meta name="description" content="iLeaderDrive - Giải pháp quản lý lái xe">
    <meta name="keywords" content="phan mem, quan ly lái xe, dien toan dam may">
    <meta property="og:title" content="iLeaderDrive - Quản lý lái xe" />
    <meta property="og:image" content="~/assets/images/logo-mains.png" />
    <meta property="og:description" content="iLeaderDrive.vn - Giải pháp quản lý lái xe" />
    <base href="/" />
    <link rel="icon" href="~/assets/images/favicon-ileadernext.png" />
    <link rel="mask-icon" href="~/assets/images/favicon-ileadernext.png" />
    <link rel="icon" sizes="16x16" href="~/assets/images/favicon-ileadernext.png" />
    <link rel="icon" sizes="192x192" href="~/assets/images/favicon-ileadernext.png" />
    <link rel="stylesheet" href="assets/bootstrap/4.5.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/font-awesome/5.15.1/css/all.css" />
    <link rel="stylesheet" href="assets/login.css" />
    <style>
        html, body {
            font-family: sans-serif;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #f0f0f0;
        }

        button.login:focus {
            border-color: #292b2d !important;
            background-color: #292b2d !important;
            box-shadow: none !important;
        }

        .nav-item-tab {
            position: relative !important;
        }

        .nav-item {
            position: absolute;
            list-style: none;
            right: 0px;
            top: 2px;
            border: none;
            z-index: 10000;
        }

        .nav-link {
            padding: 0px;
        }

            .nav-link:hover {
                border: none;
            }

        .dropdown-menu {
            top: -32px !important;
            left: -20px !important;
        }

            .dropdown-menu.show {
                display: block;
                top: 0px !important;
                left: 10px;
            }

        .image-nation {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        .icon-language {
            font-weight: bold;
            color: #ffffff;
            padding-right: 10px;
            font-size: 20px;
        }

            .icon-language:hover {
                border: none;
            }

        .login-form {
            position: relative;
        }

        .language-button {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .icon-universe {
            margin-right: 5px;
        }
        /* Thêm class cho form login */
        .login-form-container {
            position: relative;
        }

        /* Di chuyển nút ngôn ngữ và biểu tượng ngôn ngữ sang phải trên cùng */
        #dropdownLanguage {
            top: 10px;
            right: 10px;
        }

        .language-button {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>

<body>
    <div class="my-container">
        <div class="box">
            @if (Model.Value == "success")
            {
                <div class="card" style="width: 40%; min-width: 350px;">
                    <div class="card-body">
                        <div class="text-center m-auto pb-3">
                            <a href="/">
                                <span><img src="/assets/images/logo-mains.png" alt="logo-mains" height="60"></span>
                            </a>
                            <h5 class="text-uppercase text-center font-bold mt-4">Thông báo</h5>
                        </div>
                        <div class="form-group text-center">
                            <label>Xác nhận Email để lấy liên kết đổi mật khẩu.</label>
                        </div>
                    </div>
                </div>
            }
            else{
                <div class="card" style="width: 40%; min-width: 350px;">
                    <div class="card-body">
                        <div class="text-center m-auto pb-3">
                            <a href="/">
                                <span><img src="/assets/images/logo-mains.png" alt="logo-mains" height="60"></span>
                            </a>
                            <h5 class="text-uppercase text-center font-bold mt-4">Xác minh tài khoản</h5>
                        </div>
                        <form method="post">
                            <div class="form-group ">
                                <label>Tên đăng nhập</label>
                                <div class="input-group mb-2 ">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@@</div>
                                    </div>
                                    <input name="UserId" placeholder="User name" type="text" class="form-control modified valid">
                                </div>
                                <span asp-validation-for="UserId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-xs w-100 login" style="background-color: #292b2d; color: #ffffff" type="submit">
                                    Gửi
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }
            
        </div>
    </div>
    <script src="assets/jquery/jquery-3.5.1.min.js"></script>
    <script src="assets/bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>


