@page "/reset-password/{value?}"
@model SLK.XClinic.WebHost.Pages.ResetPassword

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>iLeader iLeaderDrive [v@(SLK.XClinic.WebHost.AutoClass.FullVersion) @SLK.XClinic.WebHost.AutoClass.BuildName] - Quản lý lái xec</title>
    <meta name="description" content="iLeaderDrive - Giải pháp quản lý lái xec">
    <meta name="keywords" content="phan mem, quan ly trung tam dao tao du hoc, dien toan dam may">
    <meta property="og:title" content="iLeaderDrive - Quản lý lái xe" />
    <meta property="og:image" content="~/assets/images/logo-mains1.png" />
    <meta property="og:description" content="iLeaderDrive.vn - Giải pháp quản lý lái xe" />
    <base href="/" />
    <link rel="icon" href="~/assets/images/favicon-ileadernext.png" />
    <link rel="mask-icon" href="~/assets/images/favicon-ileadernext.png" />
    <link rel="icon" sizes="16x16" href="~/assets/images/favicon-ileadernext.png" />
    <link rel="icon" sizes="192x192" href="~/assets/images/favicon-ileadernext.png" />
    <link rel="stylesheet" href="assets/bootstrap/4.5.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/font-awesome/5.15.1/css/all.css" />
    <style>
        html, body {
            font-family: sans-serif;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #f0f0f0;
        }

        body{
            touch-action: pan-x pan-y;
        }

        .my-container {
            text-align: center;
            display: block;
            height: 100%;
            position: relative;
            z-index: 1000;
            padding-top: 130px;
        }
            .my-container::before,
            .my-container .box {
                display: inline;
                vertical-align: middle;
                text-align: left;
            }

            .my-container::before {
                content: '';
                width: 0;
                height: 100%;
            }

        .video, .canvas {
            position: fixed;
            top: 50%;
            left: 50%;
            z-index: 1;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        button.login:focus {
            border-color: #292b2d !important;
            background-color: #292b2d !important;
            box-shadow: none !important;
        }
    </style>
</head>

<body>
    <div class="my-container">
        <div class="box">
            @if (Model.Value == "success")
            {
                <div class="card mr-auto ml-auto" style="width: 40%; min-width: 350px;">
                    <div class="card-body">
                        <div class="text-center m-auto pb-3">
                            <a href="/">
                                <span><img src="/assets/images/logo-mains.png" alt="logo-mains" height="60"></span>
                            </a>
                            <h5 style="line-height: 28px;" class="text-uppercase text-center font-bold mt-4">Cập nhật mật khẩu thành công</h5>
                        </div>
                        <div class="form-group">
                            <a href="/login" class="btn btn-success btn-xs w-100 login" style="background-color: #292b2d; color: #ffffff">
                                Login
                            </a>
                        </div>
                    </div>
                </div>
            }else{
                <div class="card mr-auto ml-auto" style="width: 25%; min-width: 350px;">
                    <div class="card-body">
                        <div class="text-center m-auto pb-3">
                            <a href="/">
                                <span><img src="/assets/images/logo-mains.png" alt="logo-mains" height="60"></span>
                            </a>
                            <h5 class="text-uppercase text-center font-bold mt-4">Cập nhật mật khẩu</h5>
                        </div>
                        <form method="post">
                            <div class="form-group ">
                                <label>Mật khẩu mới</label>
                                <input asp-for="Password" placeholder="Password new" type="password" class="form-control modified valid">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group ">
                                <label>Nhập lại mật khẩu mới</label>
                                <input asp-for="PasswordConfirm" placeholder="Password new" type="password" class="form-control modified valid">
                                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-xs w-100 login" style="background-color: #292b2d; color: #ffffff" type="submit">
                                    Xác nhận
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }
            
        </div>
    </div>

    <script src="assets/jquery/jquery-3.5.1.min.js"></script>
    <script src="assets/bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>